@model IEnumerable<Lexnarro.Models.User_Transaction_Master>

@using Lexnarro.HelperClasses

@{
    ViewBag.Title = "TransactionList";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var id = Convert.ToDecimal(ViewBag.id);
}

<h2>Transaction List</h2>
<br />
<h4><b>Name : <span id="name"></span></b></h4>
<br />
<section class="panel">
    <div class="panel-body">
        <table class="table table-hover" id="dataTable">
            <thead>
                <tr>
                    <th>
                        Plan
                    </th>
                    <th>
                        Amount
                    </th>
                    <th>
                        Start Date
                    </th>
                    <th>
                        End Date
                    </th>
                    <th>
                        Transaction Id
                    </th>
                    @*<th>
                        Payment Date
                    </th>*@
                    <th>
                        Invoice No
                    </th>
                    <th>
                        Action
                    </th>
                </tr>
            </thead>

        </table>
        <h4>
            <b>
                Total Amount : <span id="totalamount"></span>
            </b>
        </h4>
        <br />

        <p>
            @Html.ActionLink("Back to List", "Details", "User", new { id = id }, htmlAttributes: new { @class = "btn btn-primary" })
        </p>

    </div>


    @section JavaScript{
        @Html.Raw(ViewBag.message)
    }

    @section scripts
    {
        <script>
            $(function () {
                var totalAmount = 0;
                var userId = @UserHelper.GetUserId();
                $('#dataTable').DataTable({
                    theme: 'bootstrap',
                    responsive: true,
                    autoWidth: false,
                    "footerCallback": function (row, data, start, end, display) {
                        var api = this.api(), data;
                        // Remove the formatting to get integer data for summation
                        var intVal = function (i) {
                            return typeof i === 'string' ? i.replace(/[\$,]/g, '') * 1 : typeof i === 'number' ? i : 0;
                        };

                        // totalAmount over all pages
                        total_amount = api.column(1).data().reduce(function (a, b) {
                            return intVal(a) + intVal(b);
                        }, 0);

                        // total_page_amount over this page
                        total_page_amount = api.column(1, { page: 'current' }).data().reduce(function (a, b) {
                            return intVal(a) + intVal(b);
                        }, 0);

                        total_page_amount = parseFloat(total_page_amount);
                        total_amount = parseFloat(total_amount);
                        // Update footer
                        $('#totalamount').html(total_amount);
                    },		
                    "ajax": {
                        "url": '/User/GetTransactions',
                        "data":{id : @id},
                        "type": 'get',
                        "datatype": "json"
                    },
                    "columns": [
                        {
                            "data": "Plan"
                        },
                        { "data": "Amount" },
                        { "data": "StartDate" },
                        { "data": "EndDate" },
                        //{ "data": "Payment_Status" },
                        { "data": "Transection_ID" },
                        //{ "data": "Status" },
                        //{ "data": "PaymentDate" },
                        { "data": "Invoice_No" },
                        {
                             "data": "Id", render: (function (data, type, row) {
                                 //if (row.ID == userId) {
                                 //    return ' <a href="/User/ActiveUserDetails/' + data + '" class="btn btn-primary">Details</a>';
                                 //}
                                 $('#name').text(row.FirstName + ' ' + row.LastName);
                                 return '<a href="/User/TransactionDetail/' + data + '" class="btn btn-info">Details</a>';
                             })
                        }
                    ]
                });
            });
        </script>
    }
</section>

