
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>LEX NARRO</title>
</head>
<body>
    <div class="page-404">
        <p class="text-404" style="color:#ed4d51">404</p>

        <h2>We are sorry for the trouble.</h2>
        <p>Something went wrong or that page doesn’t exist yet. <br><a href="@Url.Action("Index", "Account", new { }, null)">Return Home</a></p>
    </div>
    <div class="credits">
    </div>
</body>
</html>
